%icon-share-facebook { background-image: url(../images/icons-png/share-facebook.png); background-repeat: no-repeat; }

%icon-share-in { background-image: url(../images/icons-png/share-in.png); background-repeat: no-repeat; }

%icon-share-mail { background-image: url(../images/icons-png/share-mail.png); background-repeat: no-repeat; }

%icon-share-twitter { background-image: url(../images/icons-png/share-twitter.png); background-repeat: no-repeat; }